.título-principal{
	text-align: center;
	font-size: 50px;
}
.foto-principal{

}
.div1{
	text-align: center;
	padding: 10px;
	background: #CCCCCC;
}
.títulos{
	text-align: center;
}
.listitens{
	display: inline-block;
	vertical-align: top;
	width: 37%;
}
.itens{
	padding-left: 20px;
	font-style: italic;
	font-size: 20px;
}
.beneficios{
	font-size: 20px;
	background: #00f7ff;
}
.imagemdente{
	width: 20%;
}
